body {
    /* primary */
    --bh-blue: #2C76D6;
    --bh-blue--lighter: #84C0FC;
    --bh-blue--light: #66A8F7;
    --bh-blue--mid: #408FFC;
    --bh-blue--dark: #1A4884;
    --bh-blue--darker: #132F58;

    /* secondary */
    --bh-paleBlueSky: #CCEDFF;
    --bh-paleBlueSky--light: #E5F6FF;

    /* terciary */
    --bh-deepBlueSea: #0A476E;
    --bh-deepBlueSea--lighter: #39ACE5;
    --bh-deepBlueSea--light: #218BBF;
    --bh-deepBlueSea--mid: #0F5F88;
    --bh-deepBlueSea--dark: #03243B;

    /* quaternary */
    --bh-nightBlueSky: #1D2A3D;
    --bh-nightBlueSky--1: #F4F8FD;
    --bh-nightBlueSky--2: #DCE2EA;
    --bh-nightBlueSky--3: #C3CBD8;
    --bh-nightBlueSky--4: #949FB1;
    --bh-nightBlueSky--5: #62748A;
    --bh-nightBlueSky--6: #495C77;
    --bh-nightBlueSky--7: #314664;

    /* quinary */
    --bh-aquaBlue: #2CC9E1;
    --bh-aquaBlue--lighter: #C1EFF7;
    --bh-aquaBlue--light: #96E5F0;
    --bh-aquaBlue--dark: #1A7986;
    --bh-aquaBlue--darker: #12515B;

    /* senary */
    --bh-gold: #FAD64A;
    --bh-gold--lighter: #FBF4CA;
    --bh-gold--light: #FCE692;
    --bh-gold--dark: #F4BF33;

    /* white */
    --bh-white: #FFFFFF;
    --bh-white--fog: #FBFBFB;
    --bh-white--smoke: #E6E6E6;
}

/* Typography */
html {
    font-size: 100%;
    word-wrap: break-word;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--bh-nightBlueSky--6);
}

a {
    color: #196BDE;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: var(--bh-nightBlueSky);
}

body h1,
body h2 {
    font-family: 'Source Serif Pro', Times, serif;
    font-weight: 900;
}

body h3,
body h4,
body h5,
body h6 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
    padding: 0;
}

body h1 {
    font-size: 4.375rem;
    line-height: 4.875rem;
    margin: 1rem 0;
}

body h2 {
    font-size: 3.125rem;
    line-height: 4rem;
    margin: 0 0 1.75rem 0;
}

body h3 {
    font-size: 2.75rem;
    line-height: 3.125rem;
    margin: 1rem 0;
}

body h4 {
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin: 0 0 .625rem;
}

body h5 {
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin: 0 0 1rem 0;
}

body h6 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin: 1rem 0;
}

body p {
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0 0 1rem 0;
    color: var(--bh-nightBlueSky--6);
}

body h1.dc-text--eyebrow {
    font-family: 'Montserrat', Helvetica, sans-serif!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.375rem!important;
    letter-spacing: 3px!important;
    text-transform: uppercase!important;
    margin: 0 0 1.5rem 0!important;
}

body h2.dc-text--eyebrow {
    font-family: 'Montserrat', Helvetica, sans-serif!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.375rem!important;
    letter-spacing: 3px!important;
    text-transform: uppercase!important;
    margin: 0 0 1.5rem 0!important;
}

body .dc-text--headline {
    font-size: 4.25rem;
    line-height: 4.875rem;
    margin: 0 0 1.75rem 0;
}

body .dc-text--lg {
    font-size: 1.1875rem;
    line-height: 1.75rem;
    margin: 0 0 1rem 0;
    display: inline-block;
}

body .dc-text--sm {
    font-size: .875rem;
    line-height: 1rem;
    margin: 0 0 .875rem 0;
}

body .dc-text--caps {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    body {
        line-height: 1.2rem;
    }

    body h1 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }

    body h2 {
        font-size: 2rem;
        line-height: 120%;
        margin: 0 0 1rem 0;
    }

    body h3 {
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 0;
    }

    body h4 {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    body h5 {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    body h6 {
        font-size: 1.286rem;
        line-height: 1.571rem;
    }

    body p {
        font-size: .9375rem;
        line-height: 1.25rem;
    }

    body .dc-text--headline {
        font-size: 2.375rem;
        line-height: 2.75rem;
        margin: 0 0 1rem 0;
    }

    body .dc-text--lg {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    body .dc-text--sm {
        margin: 0 0 .375rem 0;
    }

    body h1.dc-text--eyebrow {
        font-size: .75rem!important;
        line-height: 1.2rem!important;
        margin: 0 0 1.375rem!important;
    }
    
    body h2.dc-text--eyebrow {
        font-size: .75rem!important;
        line-height: 1.2rem!important;
        margin: 0 0 .5rem!important;

    }
}

/* Card Shadows */
.shadowDepth__0 {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0989128);
}

.shadowDepth__1 {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.0989128);
}

.shadowDepth__2 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0989128);
}

.shadowDepth__3 {
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.0989128);
}

.shadowDepth__4 {
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.0989128);
}


/* Color */
/* primary */
.bh-blue,
.bh-blue a {
    color: #2C76D6;
    color: var(--bh-blue);
    border-color: #2C76D6;
    border-color: var(--bh-blue);
}

.bh-blue--lighter,
.bh-blue--lighter a {
    color: #84C0FC;
    color: var(--bh-blue--lighter);
    border-color: #84C0FC;
    border-color: var(--bh-blue--lighter);
}

.bh-blue--light,
.bh-blue--light a {
    color: #66A8F7;
    color: var(--bh-blue--light);
    border-color: #66A8F7;
    border-color: var(--bh-blue--light);
}

.bh-blue--mid,
.bh-blue--mid a {
    color: #408FFC;
    color: var(--bh-blue--mid);
    border-color: #408FFC;
    border-color: var(--bh-blue--mid);
}

.bh-blue--dark,
.bh-blue--dark a {
    color: #1A4884;
    color: var(--bh-blue--dark);
    border-color: #1A4884;
    border-color: var(--bh-blue--dark);
}

.bh-blue--darker,
.bh-blue--darker a {
    color: #132F58;
    color: var(--bh-blue--darker);
    border-color: #132F58;
    border-color: var(--bh-blue--darker);
}

/* secondary */
.bh-paleBlueSky,
.bh-paleBlueSky a {
    color: #CCEDFF;
    color: var(--bh-paleBlueSky);
    border-color: #CCEDFF;
    border-color: var(--bh-paleBlueSky);
}

.bh-paleBlueSky--light,
.bh-paleBlueSky--light a {
    color: #E5F6FF;
    color: var(--bh-paleBlueSky--light);
    border-color: #E5F6FF;
    border-color: var(--bh-paleBlueSky--light);
}

/* terciary */
.bh-deepBlueSea,
.bh-deepBlueSea a {
    color: #0A476E;
    color: var(--bh-deepBlueSea);
    border-color: #0A476E;
    border-color: var(--bh-deepBlueSea);
}

.bh-deepBlueSea--lighter,
.bh-deepBlueSea--lighter a {
    color: #39ACE5;
    color: var(--bh-deepBlueSea--lighter);
    border-color: #39ACE5;
    border-color: var(--bh-deepBlueSea--lighter);
}

.bh-deepBlueSea--light,
.bh-deepBlueSea--light a {
    color: #218BBF;
    color: var(--bh-deepBlueSea--light);
    border-color: #218BBF;
    border-color: var(--bh-deepBlueSea--light);
}

.bh-deepBlueSea--mid,
.bh-deepBlueSea--mid a {
    color: #0F5F88;
    color: var(--bh-deepBlueSea--mid);
    border-color: #0F5F88;
    border-color: var(--bh-deepBlueSea--mid);
}

.bh-deepBlueSea--dark,
.bh-deepBlueSea--dark a {
    color: #03243B;
    color: var(--bh-deepBlueSea--dark);
    border-color: #03243B;
    border-color: var(--bh-deepBlueSea--dark);
}

/* quaternary */
.bh-nightBlueSky,
.bh-nightBlueSky a {
    color: #1D2A3D;
    color: var(--bh-nightBlueSky);
    border-color: #1D2A3D;
    border-color: var(--bh-nightBlueSky);
}

.bh-nightBlueSky--1,
.bh-nightBlueSky--1 a {
    color: #F4F8FD;
    color: var(--bh-nightBlueSky--1);
    border-color: #F4F8FD;
    border-color: var(--bh-nightBlueSky--1);
}

.bh-nightBlueSky--2,
.bh-nightBlueSky--2 a {
    color: #DCE2EA;
    color: var(--bh-nightBlueSky--2);
    border-color: #DCE2EA;
    border-color: var(--bh-nightBlueSky--2);
}

.bh-nightBlueSky--3,
.bh-nightBlueSky--3 a {
    color: #C3CBD8;
    color: var(--bh-nightBlueSky--3);
    border-color: #C3CBD8;
    border-color: var(--bh-nightBlueSky--3);
}

.bh-nightBlueSky--4,
.bh-nightBlueSky--4 a {
    color: #949FB1;
    color: var(--bh-nightBlueSky--4);
    border-color: #949FB1;
    border-color: var(--bh-nightBlueSky--4);
}

.bh-nightBlueSky--5,
.bh-nightBlueSky--5 a {
    color: #62748A;
    color: var(--bh-nightBlueSky--5);
    border-color: #62748A;
    border-color: var(--bh-nightBlueSky--5);
}

.bh-nightBlueSky--6,
.bh-nightBlueSky--6 a {
    color: #495C77;
    color: var(--bh-nightBlueSky--6);
    border-color: #495C77;
    border-color: var(--bh-nightBlueSky--6);
}

.bh-nightBlueSky--7,
.bh-nightBlueSky--7 a {
    color: #314664;
    color: var(--bh-nightBlueSky--7);
    border-color: #314664;
    border-color: var(--bh-nightBlueSky--7);
}

/* quinary */
.bh-aquaBlue,
.bh-aquaBlue a {
    color: #2CC9E1;
    color: var(--bh-aquaBlue);
    border-color: #2CC9E1;
    border-color: var(--bh-aquaBlue);
}

.bh-aquaBlue--lighter,
.bh-aquaBlue--lighter a {
    color: #C1EFF7;
    color: var(--bh-aquaBlue--lighter);
    border-color: #C1EFF7;
    border-color: var(--bh-aquaBlue--lighter);
}

.bh-aquaBlue--light,
.bh-aquaBlue--light a {
    color: #96E5F0;
    color: var(--bh-aquaBlue--light);
    border-color: #96E5F0;
    border-color: var(--bh-aquaBlue--light);
}

.bh-aquaBlue--dark,
.bh-aquaBlue--dark a {
    color: #1A7986;
    color: var(--bh-aquaBlue--dark);
    border-color: #1A7986;
    border-color: var(--bh-aquaBlue--dark);
}

.bh-aquaBlue--darker,
.bh-aquaBlue--darker a {
    color: #12515B;
    color: var(--bh-aquaBlue--darker);
    border-color: #12515B;
    border-color: var(--bh-aquaBlue--darker);
}

/* senary */
.bh-gold,
.bh-gold a {
    color: #FAD64A;
    color: var(--bh-gold);
    border-color: #FAD64A;
    border-color: var(--bh-gold);
}

.bh-gold--lighter,
.bh-gold--lighter a {
    color: #FBF4CA;
    color: var(--bh-gold--lighter);
    border-color: #FBF4CA;
    border-color: var(--bh-gold--lighter);
}

.bh-gold--light,
.bh-gold--light a {
    color: #FCE692;
    color: var(--bh-gold--light);
    border-color: #FCE692;
    border-color: var(--bh-gold--light);
}

.bh-gold--dark,
.bh-gold--dark a {
    color: #F4BF33;
    color: var(--bh-gold--dark);
    border-color: #F4BF33;
    border-color: var(--bh-gold--dark);
}

/* white */
.bh-white,
.bh-white a {
    color: #FFFFFF;
    color: var(--bh-white);
    border-color: #FFFFFF;
    border-color: var(--bh-white);
}

.bh-white--fog,
.bh-white--fog a {
    color: #FBFBFB;
    color: var(--bh-white--fog);
    border-color: #FBFBFB;
    border-color: var(--bh-white--fog);
}

.bh-white--smoke,
.bh-white--smoke a {
    color: #E6E6E6;
    color: var(--bh-white--smoke);
    border-color: #E6E6E6;
    border-color: var(--bh-white--smoke);
}

/* Buttons */
body .mdc-button {
    color: var(--bh-white);
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 2px;
    border: solid 1px;
    height: auto;
    text-transform:none;
    letter-spacing: 0;
    box-shadow: none;
}

body .mdc-button--raised.mdc-button--blue {
    background-color: #196BDE;
    border-color: #196BDE;
}

body .mdc-button--raised.mdc-button--darkBlue {
    background-color: var(--bh-nightBlueSky);
    border-color: var(--bh-nightBlueSky);
}

body .mdc-button--raised.mdc-button--white {
    background-color: var(--bh-white);
    border-color: var(--bh-white);
}

body .mdc-button--outlined.mdc-button--blue {
    border-color: #196BDE;
    background-color: transparent;
}

body .mdc-button--outlined.mdc-button--darkBlue {
    border-color: var(--bh-nightBlueSky);
    background-color: transparent;
}

body .mdc-button--outlined.mdc-button--white {
    border-color: var(--bh-white);
    background-color: transparent;
}

body .mdc-button.mdc-button__xlarge {
    font-size: 1.375rem;
    padding: 32px 90px;
    margin-bottom: 1rem;
    border-radius: 6px; 
}

body .mdc-button.mdc-button__large {
    font-size: 1.375rem;
    padding: 23px 52px;
}

body .mdc-button.mdc-button__medium {
    font-size: 1rem;
    padding: 20px 48px;
}

body .mdc-button.mdc-button__small {
    font-size: .8125rem;
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    body .mdc-button.mdc-button__xlarge {
        font-size: 1rem;
        padding: 18px 60px;
    }

    body .mdc-button.mdc-button__large {
        font-size: 1.143rem;
        padding: 16px 40px;
    }

    body .mdc-button.mdc-button__medium {
        font-size: 1rem;
        padding: 14px 24px;
    }

    body .mdc-button.mdc-button__small {
        font-size: .785rem;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 576px) {
    body .mdc-button.mdc-button.mdc-button__xlarge {
        width: 100%;
        padding: 0;
        height: 56px;
        margin-bottom: .5rem;
    }
}


/* Button Text links */
body .mdc-button__textLink {
    font-weight: 600;
    border-radius: 0;
    border: 0;
    text-decoration: underline;
    padding: 0;
}

body .mdc-button__textLink.mdc-button__xlarge {
    font-size: 1.375rem;
    padding: 0;
}

body .mdc-button__textLink.mdc-button__large {
    font-size: 1.375rem;
    font-weight: 400;
    padding: 0;
}

body .mdc-button__textLink.mdc-button__medium {
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0;
}

body .mdc-button__textLink.mdc-button__small {
    font-size: .875rem;
    font-weight: 400;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body .mdc-button__textLink.mdc-button__xlarge {
        font-size: 1.286rem;
    }

    body .mdc-button__textLink.mdc-button__large {
        font-size: 1.286rem;
    }

    body .mdc-button__textLink.mdc-button__medium {
        font-size: 1.143rem;
    }

    body .mdc-button__textLink.mdc-button__small {
        font-size: 1rem;
    }
}

/* Bootstrap Container Overrides For Bluehost */
html .container {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 575px) {
    html .container {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    html .container {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    html .container {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    html .container {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1366px) {
    html .container {
        width: 100%;
        max-width: 92.1875rem;
    }
}

@media screen and (max-width: 768px){
    #banner .mdc-button.mdc-button__small {
        padding: 0.3125rem 0.625rem;
    }

    body #banner .mdc-button.mdc-button__small{
        font-weight: 700;
    }

    .cmp-hero__content h2, .cmp-hero__content h2 .dc-text--headline{
        font-size:2rem;
        margin-bottom: 1rem;
        line-height: 120%;
    }
    
    .hero-container .cmp-hero__content.checkmarkStyle ul li,
    .hero-container .cmp-hero__content.checkmarkStyle ol li{
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 768px){
    body #banner.pb-10, body #banner.pt-10{
        padding: .3125rem 0;
    }
    body #banner .dc-text--lg{
        font-size: 1rem;
    }

    body #banner .mdc-button.mdc-button__small{
        font-size: 1rem;
        font-weight: 700;
    }

    .cmp-hero__content h2, .cmp-hero__content h2 .dc-text--headline{
        font-size:3.125rem;
        line-height: 120%;
    }

    .cmp-hero__content p .dc-text--lg{
        font-size: 1.125rem;
    }
    body .hero .container .row .cmp-hero__content .hero__cta{
        margin-bottom:.875rem;
    }
}